.block {
  font-size: 16px;
  background-color: var(--ifm-background-surface-color);
  border-radius: 4px;
  width: 192px;
}

.inputWrap {
  width: 192px;
  margin-top: 4px;
  display: grid;
  grid-template-columns: 1fr 24px 24px 4px;
  align-items: center;
  justify-items: center;
}

.input {
  composes: block;
  appearance: none;
  padding: 8px 10px;
  border: 1px solid var(--ifm-color-emphasis-500);
  grid-column: 1 / -1;
  grid-row: 1;
}

.input:hover {
  border-color: var(--ifm-color-primary-light);
}

.input:focus-visible,
.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--ifm-color-primary-light);
  border-color: var(--ifm-color-primary-light);
}

.iconBtn {
  cursor: pointer;
  appearance: none;
  border: none;
  background: transparent;
  padding: 4px;
  border-radius: 50%;
}

.iconBtn svg {
  pointer-events: none;
  display: block;
  width: 16px;
  height: 16px;
}

.iconBtn:hover {
  background-color: var(--ifm-color-emphasis-200);
}

.clear {
  composes: iconBtn;
  grid-column: 2;
  grid-row: 1;
}

.toggle {
  composes: iconBtn;
  grid-column: 3;
  grid-row: 1;
}

.list {
  composes: block;
  list-style: none;
  line-height: 1;
  padding: 6px 0;
  margin: 6px 0;
  border: 1px solid var(--ifm-color-emphasis-300);
  position: absolute;
  z-index: 1;
}

.listNoScroll {
  scroll-margin-bottom: 16px;
}

.listScroll {
  overflow: auto;
  max-height: 300px;
}

.item {
  margin: 0 !important;
  padding: 8px 12px;
  cursor: pointer;
}

.selected {
  color: var(--ifm-color-gray-900);
  background-color: #cfe0fb;
}

.focused {
  color: inherit;
  background-color: var(--ifm-color-emphasis-200);
}

.noResult {
  composes: item;
  color: var(--ifm-color-gray-600);
  cursor: default;
}
