.inputWrap {
  display: flex;
  align-items: center;
}

.clear {
  transform: translateX(-120%);
}

.modes {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.sandbox {
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: 4px 0;
  margin-top: 48px;
}
