.wrapper {
  font-size: 20px;
}

.input {
  font-size: 24px;
}

.input::selection {
  background-color: rgb(222, 146, 6);
}

.list {
  max-height: 300px;
  overflow: auto;
}

.option:hover {
  background-color: #777 !important;
  color: rgb(163, 210, 42);
}

.disabled {
  color: #777;
  user-select: none;
}

.multiInputWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  border: 2px solid;
  border-radius: 4px;
  padding: 4px;
}

.focused {
  border-color: lightskyblue;
}

.multiInputContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.multiInput {
  flex-grow: 1;
  appearance: none;
  min-width: 60px;
  width: 0;
  border: none;
  background: none;
  outline: none;
}

.clearButton {
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.selectedItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 4px;
  border: 2px solid #999;
  border-radius: 8px;
  background-color: #777;
}

.selectedItem > span {
  cursor: pointer;
}
