.multiInputRoot {
  display: flex;
  align-items: center;
  padding: 6px 4px 6px 10px;
  width: 320px;
  border-radius: 4px;
  border: 1px solid var(--ifm-color-emphasis-500);
  background-color: var(--ifm-background-surface-color);
}

.multiInputRoot:hover {
  border-color: var(--ifm-color-primary-light);
}

.multiInputRootFocused {
  box-shadow: 0 0 0 1px var(--ifm-color-primary-light);
  border: 1px solid var(--ifm-color-primary-light);
}

.multiInputWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 6px;
}
