name: Dependency update

# on:
#   schedule:
#     - cron: '0 15 * * 5'
#   workflow_dispatch: {}
on: [push]

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - run: npm ci

      - run: npx deplift

      - run: npm test

      - run: npm run build

      # Commit *any* changes caused by deplift or build
      - name: Commit changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "chore(deps): update all dependencies to latest versions"
          else
            echo "No changes to commit"
          fi
